@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Dancing+Script:wght@400;700&display=swap');

body {
    background-image: url("fbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    font-weight: 800;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color:#362419;
    font-size: 2.5rem;
}

a:hover {
    color: #85A389;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 5rem;
    font-weight: bold;
    font-style: italic;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color:#362419;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.toggle_btn {
    color: #362419;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;

}

.action_btn:hover{
    scale: 1.05;
    color: #fff;
}

.action_btn:active{
    scale: 0.95;

}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 340px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.pageheading {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 3rem;
}

.container {
    display: flex;
    gap: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pic{
    position: relative;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(51, 53, 53);
}

img {
    width: 100%;
    height:100%;
    border-radius: 5px;
    object-fit: cover;
}

.pic::before{
    content: "";
    position: absolute;
    /* top: 50%;
    left: 50%; */
    transform: translate(-50%, -50%);
    /* color: black ;
    font-size: 50px;
    font-weight: bold; */
    width: 100%;
    margin-top:-150px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}

.pic:after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius:5px;
    height: 0%;
    background: rgba(0,0,0,.4);
    transition: .3s;
}

.pic:hover::after{
    height: 100%;
}

.pic:hover::before{
    margin-top:0;
    opacity: 1;
}

@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn{
        display:none;
    }

    .navbar .toggle_btn {
        display:block;
    }
    .dropdown_menu {
        display: block;
    }
}

/* @media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
} */

@media(max-width:768px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
    .container{
        flex-direction: column;
    }  
}
