@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Dancing+Script:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color:#dde1e2;
    background-size: cover;
    background-position: center;
}



li {
    list-style: none;
}

a {
    text-decoration: none;
    color:#000;
    font-size: 2.5rem;
}

a:hover {
    color: #85A389;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 5rem;
    font-weight: 700;
    font-style: italic;
}


.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color:#fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;

}

.action_btn:hover{
    scale: 1.05;
    color: #fff;
}

.action_btn:active{
    scale: 0.95;

}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: scroll;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index:1;
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.home {
    height: 100vh;
    background: url('laptop_test2.png') no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    align-items:center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
    margin: 20px 0 40px;
}

.home-content h1 {
    position: relative;
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content:'';
    position: absolute;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background: #dde1e2;
    animation: showRight 1s ease forwards;
    animation-delay: 1s
}

.home-content h3 {
    position: relative;
    font-size: 50px;
    font-weight: 700;
    color:blue;
}

#food   {
    color:#FFD523;
}

#nature {
    color: green;
}

.home-content h3::before {
    content:'';
    position: absolute;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background: #dde1e2;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s
}


.home-content p {
    position: relative;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

.home-content p::before {
    content:'';
    position: absolute;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background: #dde1e2;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s
}
.home-imgHover {
    position: absolute;
    top: 100px;
    right: 60px;
    width: 600px;
    height: 100%;
    background: transparent;
    transition: 3s;
    z-index: 0;
}

.home-imgHover:hover{
    background: #dde1e2;
    opacity: 0.8;
}

@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn{
        display:none;
    }

    .navbar .toggle_btn {
        display:block;
    }
    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

@keyframes showRight {
    100% {
        width: 0;

    }
}